# 
Ass:12
1. Write a Python program to Extract Unique values dictionary values?
2. Write a Python program to find the sum of all items in a dictionary?
3. Write a Python program to Merging two Dictionaries?
4. Write a Python program to convert key-values list to flat dictionary?
5. Write a Python program to insertion at the beginning in OrderedDict?
6. Write a Python program to check order of character in string using OrderedDict()?
7. Write a Python program to sort Python Dictionaries by Key or Value?

In [47]:
#Write a Python program to Extract Unique values dictionary values?
d={"one":[66,77,88,99],
  "two":[898,89,99,90],
  "three":[45,87,90,66,77]}
l=[]
l1=[]
for i in d.values():
    for j in i:
        l.append(j)
l1=list(set(l))
print(l1)

[66, 99, 898, 77, 45, 87, 88, 89, 90]

In [48]:
#Write a Python program to find the sum of all items in a dictionary?
#items means :valaues
d1={1:66,2: 99,3: 898,4: 77,5: 45,6: 87,7: 88,8: 89,9: 90}
sum=0
for i in d1.values():
    sum+=i
print(sum)

1539

In [55]:
#Write a Python program to Merging two Dictionaries?
#mthod 1
d2={11:66,12: 99,13: 898,14: 77,15: 45,16: 87,17: 88,18: 89,19: 90}
for i in d1:
    d2.update({i:d1[i]})
d2

{11: 66,
 12: 99,
 13: 898,
 14: 77,
 15: 45,
 16: 87,
 17: 88,
 18: 89,
 19: 90,
 1: 66,
 2: 99,
 3: 898,
 4: 77,
 5: 45,
 6: 87,
 7: 88,
 8: 89,
 9: 90}

In [56]:
#method 2
#Using the | Operator
print(d|d1)

{'one': [66, 77, 88, 99], 'two': [898, 89, 99, 90], 'three': [45, 87, 90, 66, 77], 1: 66, 2: 99, 3: 898, 4: 77, 5: 45, 6: 87, 7: 88, 8: 89, 9: 90}

In [57]:
#method3
#using**
print({**d,**d1})

{'one': [66, 77, 88, 99], 'two': [898, 89, 99, 90], 'three': [45, 87, 90, 66, 77], 1: 66, 2: 99, 3: 898, 4: 77, 5: 45, 6: 87, 7: 88, 8: 89, 9: 90}

In [59]:
#method4
#Using copy() and update()
d3=d.copy()
d3.update(d1)
print(d3)

{'one': [66, 77, 88, 99], 'two': [898, 89, 99, 90], 'three': [45, 87, 90, 66, 77], 1: 66, 2: 99, 3: 898, 4: 77, 5: 45, 6: 87, 7: 88, 8: 89, 9: 90}

In [63]:
l={223223,434,54,54,45,4}
l2={33,4,4,43,3,2,2,}
l2.update(l)
l2

{2, 3, 4, 33, 43, 45, 54, 434, 223223}

In [71]:
#4 Write a Python program to convert key-values list to flat dictionary?
l=[1,22,2,34,3,45,4,45]
d={}
for i in range(0,len(l),2):
    d.update({l[i]:l[i+1]})
print(d)

{1: 22, 2: 34, 3: 45, 4: 45}

In [69]:
# Using dict() + zip()
test_dict = {'month' : [1, 2, 3],'name' : ['Jan', 'Feb', 'March']}
print("The original dictionary is : " + str(test_dict))
print("flatten dict",dict(zip(test_dict['month'], test_dict['name'])))

The original dictionary is : {'month': [1, 2, 3], 'name': ['Jan', 'Feb', 'March']}
flatten dict {1: 'Jan', 2: 'Feb', 3: 'March'}

In [67]:
td={'day':[1,2,3,4,5,6,7],'name':['Monday','Tuesday',' Wednesday','Thursday','Friday','Saturday','Sunday' ]}
print(dict(zip(td['day'],td['name'])))

{1: 'Monday', 2: 'Tuesday', 3: ' Wednesday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday', 7: 'Sunday'}

In [73]:
#5 Write a Python program to insertion at the beginning in OrderedDict?
from collections import OrderedDict

i_d = OrderedDict([('akshat', '1'), ('nikhil', '2')])
print(i_d)
i_d.update({'manjeet':'3'})
i_d.move_to_end('manjeet', last = False)
 
# print result
print ("Resultant Dictionary : "+str(i_d))

OrderedDict([('akshat', '1'), ('nikhil', '2')])
Resultant Dictionary : OrderedDict([('manjeet', '3'), ('akshat', '1'), ('nikhil', '2')])